/*
button {
	position:relative;
	
	left:65%;
	top: 10px;
	bottom:10px;
	text-align:center;
	margin:0 auto;
	
	padding:5px;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	margin-top: 10px;
	background:white;
	height:50px;
}*/

button {
	-webkit-border-radius: 11;
	-moz-border-radius: 11;
	border-radius: 11px;
	font-family: Arial;
	color: #000000;
	font-size: 18px;
	background: #ebf1f5;
	padding: 20px 30px 20px 30px;
	text-decoration: none;
	border:none;
	width:250px;
	
	position:relative;
	margin:10px;
	top: 10px;
	bottom:10px;
}
/*
input {
	position: relative;
	left: 65%;
	top: 50px;
}
*/
h1.calibration_heading, h1.weather_heading, h1.animation_heading {
	font-family:arial;
	font-size:20px;
	
}

.control_panel {
	width:550px;
	height:400px;
	position:absolute;
	right:1%;
}

#calibrationButtons {
	width:100%;
	padding-top:10px;
	padding-bottom:15px;
	border-bottom:1px solid gray;
}

#WeatherApp, #weatherButtons {
	border-bottom:1px solid gray;
	padding-top:10px;
	padding-bottom:15px;
}

.animation_speed {
	font-size:1.0em;
}
#decrease_speed {
}
#increase_speed {
}

.animation_speed_controls {

}

#animationMode {
	width:100%;
	padding-top:10px;
	padding-bottom:15px;
	border-bottom:1px solid gray;
}

#animationButtons {
	width:100%;
	padding-top:10px;
	padding-bottom:60px;
	border-bottom:1px solid gray;
}

.speed_label, .animation_speed {
	float: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 1.6em;
	font-family:arial;
}

.saved_frames_label, .saved_frames {
	float: left;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 1.6em;
	font-family:arial;
}
label#pnum {
	margin-top:20px;
	font-size: 1.4em;
	font-family:arial;
	display:inline-block;
	margin-left:20px;
}
input#pnum_text{
	padding:5px;
	width:30px;
	position:relative;
	bottom:2px;
}

