
button {
	position:relative;
	
	left:65%;
	top: 10px;
	bottom:10px;
	text-align:center;
	margin:0 auto;
	
	padding:5px;
	padding-bottom:5px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	margin-top: 10px;
	background:white;
	height:50px;
}

input {
	position: relative;
	left: 65%;
	top: 50px;
	

}

.animation_speed {
	font-size:1.0em;
}
#decrease_speed {
}
#increase_speed {
}

.animation_speed_controls {
	width:300px;
	position:absolute;
	right:4%;
}
